.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

p {
  margin: 0.25em;
}

h4 {
  margin: 0.5em 0;
}

.UserScore {
  position: fixed;
  width: 100vw;
  background-color: white;
}

.Ingredients {
  margin-top: 8em;
}

.Ingredients__list {
  overflow-y: auto;
}

.Ingredient__create {
  margin: .5em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Ingredient__create input {
  margin-left: 0.5em;
}

.Ingredient__create button {
  margin-top: 1em;
  width: 100px;
}

.Ingredient {
  display: grid;
  grid-template-columns: 24px 1fr 80px 80px;
  grid-column-gap: 1em;
  height: 80px;
  align-items: center;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  padding: 0 1em;
}

.Ingredient__grams-input {
  width: 70%;
  text-align: end;
  margin-right: 0.25em
}

.Ingredient__info h4 {
  margin: 0.5em 0;
}

.InputGroup {
  margin: 0.25rem 0;
}

.InputGroup i {
  color: #b5b5b5;
  font-size: 0.8em;
  margin-right: 1em;
  vertical-align: text-bottom;
}

.InputGroup input {
  min-width: 120px;
  outline: none;
}

.InputGroup input::placeholder {
  color: #b5b5b5;
}

